body{
    /* background-color: yellow; */
}

#headerNav{
    background-color: #34495e;
}

#headerNav ul{
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}

#headerNav ul li{
    padding: 20px;
}

#headerNav ul li a{
    color: white;
}



#footerMenu ul{
    list-style: none;
    padding: 0;
}

#footerMenu ul li{
    display: inline-block;
    padding-right: 20px;
}

.twoColumn{
    column-count: 2;
}


/* calendar widget */
.widget_calendar {float: left;}
#wp-calendar {width: 100%; }
#wp-calendar caption { text-align: right; color: #333; font-size: 12px; margin-top: 10px; margin-bottom: 15px; }
#wp-calendar thead { font-size: 10px; }
#wp-calendar thead th { padding-bottom: 10px; }
#wp-calendar tbody { color: #aaa; }
#wp-calendar tbody td { background: #f5f5f5; border: 1px solid #fff; text-align: center; font-weight: lighter;}
#wp-calendar tbody td:hover { background: #fff; }
#wp-calendar tbody .pad { background: none; }
#wp-calendar tfoot #next { font-size: 10px; text-transform: uppercase; text-align: right; }
#wp-calendar tfoot #prev { font-size: 10px; text-transform: uppercase; padding-top: 10px; }

/* WOOCOMMERCE */
select{
    width: 220px;
    height: 40px;
    color: white;
    background-color: darkslategray;
}